@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.y-scroll-hidden) {
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
